<%- include('partials/header') %>
<main id="categories-page">
<h1>Service Project Categories</h1>

<ul>
  <% categories.forEach(function(category){ %>
      <li><a href="/category/<%= category.category_id %>"><%= category.name %></a></li>
  <% }) %>
</ul>
</main>
<%- include('partials/footer') %>
